# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
Venv/
venv/
ENV/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
uploads/
*.log
*.db
*.sqlite3

# OS specific
.DS_Store
Thumbs.db 